<div class="row">
	<div class="twelve columns">
		<div class="center_text" id="notice"><%= notice %></div>
		<h3 class="pull-right"><%= Time.now.strftime("%v") %></h3>
		<h3>Hello, <%= @user.name %></h3><hr class="clear">
		<h3 class="center_text">My Tutorials</h3>
	</div>
</div>

	<div class="row">

	<!-- Project box !-->
	<div class="six columns projectsec">
	  <div class="protitle">
	    <h5 class="pull-right">View Project</h5>
	    <h3 class="make_white">A simple blog</h3>
	  </div>
	  <div class="procontent">
	    <p>A blog is the most basic application that can be built with rails. Mastering the skills you aquire here will go a long way in understanding rails. We will build a simple blog with an admin user capable of creating, updating and destroying posts. This tutorial will also introduce validations within models and sessions to handle authentication.</p>
	    <div class="medium primary btn pull-right"><a href="/week1">Lets Get Started</a></div>
	  </div>      
	</div>
	<!-- Project box !-->

	<!-- Project box !-->
	<div class="six columns projectsec">
	  <div class="protitle">
	    <h5 class="pull-right">View Project</h5>
	    <h3 class="make_white">To-do list application</h3>
	  </div>
	  <div class="procontent">
	    <p>To-do lists keeps us organized and productive, building one is a lot of fun too. This tutorial will introduce scopes, associations between two models and go even further into authentication. The application will allow multiple users create their own todo lists and check items off as completed. Finally we will integrate twitter bootstrap for design.</p>       
	    <div class="medium primary btn pull-right"><a href="/week2">Lets Get Started</a></div>
	  </div>
	</div>
	<!-- Project box !-->

	</div>

	<div class="row">

	<!-- Project box !-->
	<div class="six columns projectsec">
	  <div class="protitle">
	    <h5 class="pull-right">Coming soon</h5>
	    <h3 class="make_white">Photo blog</h3></div>
	  <div class="procontent">
	    <p>Photo sharing applications are very popular today. In this tutorial we will show you how to build one. This tutorial will implement associations between three models and file upload and storage. Once completed you should be able to create photo sharing sites as quick as you can say Cheese.</p><br>     
	    <div class="medium primary btn pull-right"><a href="/week3">Lets Get Started</a></div>
	  </div>
	  </div>
	  <!-- Project box !-->

	  <!-- Project box !-->
	<div class="six columns projectsec">
	  <div class="protitle">
	    <h5 class="pull-right">Coming soon</h5>
	    <h3 class="make_white">Photo blog</h3></div>
	  <div class="procontent">
	    <p>Photo sharing applications are very popular today. In this tutorial we will show you how to build one. This tutorial will implement associations between three models and file upload and storage. Once completed you should be able to create photo sharing sites as quick as you can say Cheese.</p><br>     
	    <div class="medium primary btn pull-right"><a href="/week4">Lets Get Started</a></div>
	  </div>
	  </div>
	  <!-- Project box !-->
	</div>

	<br><br><br><br>