<div class="row">
	<p id="notice"><%= notice %></p>
	<div class="twelve columns">

		<h3 class="center_text">Title</h3><hr>
	    <section class="vertical tabs">

	    	<!-- Tabs !-->
		    <ul class="tab-nav four columns">
		    	<li class="active"><a href="#">Tab 1</a></li>
		        <li><a href="#">Tab 2</a></li>
		        <li><a href="#">Tab 3</a></li>
		    </ul>
		    <!-- Tabs !-->

		    <!-- Tab1 Section !-->		    
			<div class="tab-content eight columns active">
				<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus...</p>
			</div>
			<!-- Tab1 Section !-->

			<!-- Tab2 section !-->
			<div class="tab-content eight columns">
				<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante...</p>
			</div>
			<!-- Tab2 section !-->

			<!-- Tab3 section !-->
			<div class="tab-content eight columns">
				<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti...</p>
			</div>
			<!-- Tab3 section !-->

	    </section>

  	</div>
</div>